{% extends 'main.html' %} 

{% block content %}

<main>
    <div class="rewards">
      <div class="reward">
        <h2>Recompensa 1</h2>
        <p>Descrição da recompensa 1.</p>
        <p>Pontos necessários: 100</p>
        <a href="#" class="btn">Trocar</a>
      </div>
      
      <div class="reward">
        <h2>Recompensa 2</h2>
        <p>Descrição da recompensa 2.</p>
        <p>Pontos necessários: 200</p>
        <a href="#" class="btn">Trocar</a>
      </div>
      
      <div class="reward">
        <h2>Recompensa 3</h2>
        <p>Descrição da recompensa 3.</p>
        <p>Pontos necessários: 300</p>
        <a href="#" class="btn">Trocar</a>
      </div>
    </div>
    
    <div class="rewards">
      <div class="reward">
        <h2>Recompensa 4</h2>
        <p>Descrição da recompensa 4.</p>
        <p>Pontos necessários: 400</p>
        <a href="#" class="btn">Trocar</a>
      </div>
      
      <div class="reward">
        <h2>Recompensa 5</h2>
        <p>Descrição da recompensa 5.</p>
        <p>Pontos necessários: 500</p>
        <a href="#" class="btn">Trocar</a>
      </div>
      
      <div class="reward">
        <h2>Recompensa 6</h2>
        <p>Descrição da recompensa 6.</p>
        <p>Pontos necessários: 600</p>
        <a href="#" class="btn">Trocar</a>
      </div>   
    </div>
    
    <div class="centered-btn">
        <a href="/create/" class="btn">Crie sua conta</a>
        <a href="/login/" class="login-button">Faça Login</a>
    </div>
   
  </main>

{% endblock %}